.Evaluation {
  .overview {
    &--total {
      flex-basis: 124px;
      border-right: dashed 1px #ddd;
    }
    &--detail {
      max-width: 324px;
    }
    border-bottom: dashed 1px #ddd;
  }
  .ant-rate-star:not(:last-child) {
    margin-right: 4px;
  }
}

@media only screen and (max-width: 528px) {
  .Evaluation {
    .overview {
      flex-direction: column;
      align-items: center;
      &--total {
        border-right: none;
      }
      &--detail {
        padding: 0 !important;
      }
    }
  }
}
