.Famous-Brand {
  .brand-item {
    overflow: hidden;
    & img {
      transition: all 0.5s;
    }
    & img:hover {
      transform: scale(1.05);
      -webkit-filter: brightness(1.3);
      filter: brightness(1.3);
    }
  }
}
