.cart-view {
  min-width: 300px;
  ::-webkit-scrollbar-track {
    background-color: #fff;
  }
  ::-webkit-scrollbar {
    width: 6px;
  }
  transform: translateY(16px);
  border-radius: 8px;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.05);
  .cart-items {
    max-height: 300px;
    overflow-y: scroll;
  }
  .product-price {
    text-align: center;
    margin: auto;
    margin-top: 10px;
  }
  .ant-card-body {
    padding: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .cart-view {
    display: none;
  }
}
