.Discount-List {
  border-radius: 8px;
  border: 1px solid rgb(230, 230, 230);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  height: 576px;
  &.bg {
    &-0 {
      background: url("https://res.cloudinary.com/tuan-cloudinary/image/upload/v1608136122/saleOff/kara_u21ou3.jpg");
    }
    &-1 {
      background: url("https://res.cloudinary.com/tuan-cloudinary/image/upload/v1608136122/saleOff/laptop_baavwf.jpg");
    }
    &-2 {
      background: url("https://res.cloudinary.com/tuan-cloudinary/image/upload/v1608136122/saleOff/msas_xdbc6o.jpg");
    }
    &-3 {
      background: url("https://res.cloudinary.com/tuan-cloudinary/image/upload/v1608136566/saleOff/sda1_cexhqy.jpg");
    }
    &-4 {
      background: url("https://res.cloudinary.com/tuan-cloudinary/image/upload/v1608136122/saleOff/router_djhtbh.jpg");
    }
  }
  .header {
    height: 64px;
    &-item {
      & > * {
        color: grey;
      }
      &.active {
        background-color: transparent;
        & > * {
          color: #f1f1f1;
        }
      }
    }
  }

  .Related-Products {
    background-color: transparent;
  }
}

@media only screen and (max-width: 768px) {
  .Discount-List {
    .header {
      display: none;
    }
    .countdown {
      display: none;
    }
  }
}
