.SignUp {
  &-title {
    position: relative;
    &::after {
      content: "";
      width: 12%;
      height: 3px;
      background-color: #000;
      position: absolute;
      bottom: -3px;
      left: 0;
      transition: 1s;
    }

    &:hover::after {
      width: 100%;
      background: rgb(34, 193, 195);
      background: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    }
  }

  .verify-btn {
    border-radius: 0;
    border: none;
    background-color: #5ab45f;
    &:hover {
      -webkit-filter: brightness(1.2);
      filter: brightness(1.2);
    }
  }

  .gender-field .ant-select-selection-placeholder {
    color: #888;
  }

  .ant-select-selector {
    border: none !important;
  }

  .ant-input-password-icon {
    color: rgba(0, 0, 0, 0.25);
  }
}
