.SignUp {
  min-height: 100vh;
  .gender-field .ant-select-selection-placeholder {
    color: #888;
  }

  .ant-select-selector {
    border: none !important;
  }

  .ant-input-password-icon {
    color: rgba(0, 0, 0, 0.25);
  }
}

@media screen and (min-width: 767px) {
  .SignUp {
    .or-option,
    &-submit-btn,
    .login-gg {
      width: 50% !important;
    }
  }
}
