.SignUp {
  .verify-btn {
    border-radius: 0;
    border: none;
    background-color: #5ab45f;
    &:hover {
      -webkit-filter: brightness(1.2);
      filter: brightness(1.2);
    }
  }

  .gender-field .ant-select-selection-placeholder {
    color: #888;
  }

  .ant-select-selector {
    border: none !important;
  }

  .ant-input-password-icon {
    color: rgba(0, 0, 0, 0.25);
  }
}
