// -------- hoặc -------
.or-option {
  position: relative;
  margin: 5px auto;
  &::before {
    position: absolute;
    content: "";
    width: 35%;
    left: 0;
    top: 50%;
    height: 1px;
    background-color: #bcbcbc;
  }
  &::after {
    position: absolute;
    content: "";
    width: 35%;
    right: 0;
    top: 50%;
    height: 1px;
    background-color: #bcbcbc;
  }
}

// underline title sign up - login
.underline-title {
  position: relative;
  &::after {
    content: "";
    width: 12%;
    height: 4px;
    background-color: #000;
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: 1.5s;
  }

  &:hover::after {
    width: 100%;
    background: rgb(34, 193, 195);
    background: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  }
}

// button gửi mã xác nhận
.verify-btn {
  border-radius: 0;
  border: none;
  background-color: #5ab45f !important;
  &:hover {
    -webkit-filter: brightness(1.2);
    filter: brightness(1.2);
  }
}

.btn-secondary {
  background-color: #3fc5ec !important;
  color: #fff !important;
  border: none !important;
  &:hover,
  &:active {
    -webkit-filter: brightness(1.1);
    filter: brightness(1.1);
  }
}

// màu background hay dùng
.bg {
  &-white {
    background-color: #fff;
  }
  &-gray {
    background-color: #f1f1f1;
  }
}

// all transition
.ease-trans {
  transition: all ease-in-out 0.35s;
}

// background cho form
.bg-form {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.06);
}

// box-shadow for homepage
.box-sha-home {
  box-shadow: 0 0px 4px 4px rgba(0, 0, 0, 0.05);
}

// border radius
.bor-rad-8 {
  border-radius: 8px;
}
.bor-rad-4 {
  border-radius: 4px;
}

.item-active {
  border: solid 1px #3a5dd9;
  background-color: #e6eeff;
}
