.input-form-common {
  width: 100%;
  border: 1px solid #dcdcdc;
  border-radius: 1px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 1px 1px;
}

.input-border{
  border-radius: 1px;
  border: 1px solid #dcdcdc;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 1px 1px;
}

::-webkit-input-placeholder {
  color: #888 !important;
}

::-moz-placeholder {
  color: #888 !important;
}

:-ms-input-placeholder {
  color: #888 !important;
}

::-ms-input-placeholder {
  color: #888 !important;
}

::placeholder {
  color: #888 !important;
}
